<div class="card w-50">
  <div class="card-header">
    <span [appState]="item.state">{{ item.state }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">{{ item.reference }}</p>

    <button class="btn btn-primary" *ngIf="item.state === state.ALIVRER" (click)="changeState(state.ENCOURS)">{{ state.ENCOURS }}</button>

    <button class="btn btn-primary" *ngIf="item.state === state.ENCOURS" (click)="changeState(state.LIVREE)">{{ state.LIVREE }}</button>

    <a class="btn btn-danger" [routerLink]="['/items/edit/', item.id]">Modifier</a>
  </div>
</div>
