<!-- https://angular.io/api/forms/FormGroup -->
<form class="form form-container" (ngSubmit)="process()" [formGroup]="form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Prénom et nom" formControlName="name">
    <div class="alert alert-danger" *ngIf="hasError('name')">The value {{form.get('name').value}} is invalid</div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Réf. ex : 1234" formControlName="reference">
    <div class="alert alert-danger" *ngIf="hasError('reference')">The value {{form.get('reference').value}} is invalid</div>
  </div>

  <div class="form-group">
    <select class="form-control" formControlName="state">
      <option *ngFor="let libelle of libelles" [ngValue]="libelle">{{libelle}}</option>
    </select>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
